In [5]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('input/ambient_temperature_system_failure.csv')

In [9]:
df.describe()

             value
count  7267.000000
mean     71.242433
std       4.247509
min      57.458406
25%      68.369411
50%      71.858493
75%      74.430958
max      86.223213

In [10]:
df.head()

             timestamp      value
0  2013-07-04 00:00:00  69.880835
1  2013-07-04 01:00:00  71.220227
2  2013-07-04 02:00:00  70.877805
3  2013-07-04 03:00:00  68.959400
4  2013-07-04 04:00:00  69.283551

In [11]:
print(df['timestamp'].min())
print(df['timestamp'].max())

2013-07-04 00:00:00
2014-05-28 15:00:00

In [12]:
df.dtypes

timestamp     object
value        float64
dtype: object

In [16]:
df['timestamp'] = pd.to_datetime(df['timestamp']) #object to timestamp
df['value'] = (df['value'] - 32)* 5/9 #celsius instead of farenheight